.aboutus {
    text-align: center;
}

.about {
    padding: 20px;
    border-radius: 20px;
    background-color: transparent;
}

.aboutus h1 {
    font-size: 36px;
}

.aboutus p {
    font-size: 20px;
    padding: 30px;
}

.community {
    display: flex;
    justify-content: center;
}

.community button {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.community button:hover {
    border: 1px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
}

.community a {
    text-decoration: none;
}

.dev {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dev a {
    width: 120px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: rgba(14, 13, 13, 0.459);
    border-radius: 10px;
    transition: 0.1s;
}

.dev img {
    width: 100px;
    height: 100px;
    border-radius: 200px;
}

.dev a:hover {
    transform: scale(1.1);
}

.rounded {
    border-radius: 15px;
}
