.proxyform {
    display: flex;
    flex-direction: column;
    padding: 75px;
    box-sizing: border-box;
    border: 1px solid #333;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.40);
    width: fit-content;
    color: rgba(51, 51, 51, 0.534);
    border: transparent;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.proxyform-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.large {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.proxy {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    width: 300px;
    height: 60px;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
    outline: none;
    transition: .2s;
}

.proxy:hover {
    background-color: rgba(7, 7, 7, 0.459);
    color: white;
    transition: .2s;
}

.proxy:focus {
    background-color: rgba(7, 7, 7, 0.582);
    color: white;
    transition: .2s;
}

.search-bar input {
    margin: 10px;
    padding: 25px;
    height: 40px;
    width: 400px;
    color: white;
    text-decoration-color: white;
    background-color: rgba(7, 7, 7, 0.692);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    border: transparent;
    border-radius: 15px;
    outline: none;
}

.v2 {
    position: fixed;
    bottom: 5px;
    left: 5px;
    padding: 10px;
    text-align: center;
    margin: 0;
    justify-content: center;
    background-color: rgba(14, 13, 13, 0.459);
    gap: 10px;
    border-radius: 10px;
    width: fit-content;
}

.v2 a {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration-color: white;
    font-size: 20px;
    transition: .1s
}

.v2 a:hover {
    transform: scale(1.09);
    transition: .1s
}
