body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  line-height: 20px;
  font-size: 14px;
  margin: 0;
  height: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

#DMCA {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

input {
  background-color: rgba(2, 2, 2, 0.185);
  color: white;
  border: 2px solid rgb(70, 70, 70);
  outline: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

#imageUrl::placeholder {
  color: white;
}

#iconUrl::placeholder {
  color: white;
}

#name::placeholder {
  color: white;
}

#panicUrl::placeholder {
  color: white;
}

#panicKey::placeholder {
  color: white;
}

.body-text {
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 210px;

}

.large {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.40);
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 2px;
  width: 100%;
}

.heading {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.headinglink {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  transition: .2s;
}

.headinglink:hover {
  background-color: rgba(0, 0, 0, 0.10);
  transition: .2s;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
  flex: 1; =
}

.nav-links a {
  color: rgba(255, 255, 255, 0.747);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 17px;
  gap: 10px;
  padding: 15px 16px;
  border-radius: 30px;
  display: block; 
  text-align: center;
  margin: 0 5px; 
}

.nav-links a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.50);
  color: white;
}

.nav-links li a.active {
  background-color: black;
  color: white;
}


.intro {
  padding: 80px;
  margin: auto;
  position: center;
  justify-content: center;
  text-align: center;
  box-shadow: 3px 3px 6px #292929;
  background-color: rgba(14, 13, 13, 0.267);
  width: fit-content;
  border-radius: 10px;
}

.em {
  text-align: center;
  margin: auto;
  position: center;
  justify-content: center;
  color: rgba(51, 51, 51, 0.534);
  border: transparent;
  border-radius: 15px;
}

.search-bar input {
  margin: 10px;
  padding: 25px;
  height: 40px;
  width: 400px;
  color: white;
  text-decoration-color: white;
  background-color: rgba(7, 7, 7, 0.692);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border: transparent;
  border-radius: 15px;
  outline: none;
}

.em {
  text-align: center;
  margin: auto;
  position: center;
  justify-content: center;
  color: rgba(51, 51, 51, 0.534);
  border: transparent;
  border-radius: 15px;
}
